<template>
    <div>
        This is where my characters will be !
    </div>

    <character v-for="guess of guesses" :key="guess.id" v-bind:guess="guess" class="guess-item"></character>

    <!-- <img alt="Vue logo" src="../assets/1.png"> -->
</template>

<script>
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
    setup() {
        
    },
    data() {
        return {
            guesses: [
                {
                    id: 1,
                    image: require("../assets/1.png"),
                },
                {
                    id: 2,
                    image: require("../assets/2.png"),
                },
                {
                    id: 3,
                    image: require("../assets/3.png"),
                },
                {
                    id: 4,
                    image: require("../assets/4.png"),
                },
                {
                    id: 5,
                    image: require("../assets/5.png"),
                },
                {
                    id: 6,
                    image: require("../assets/6.png"),
                },
                {
                    id: 7,
                    image: require("../assets/7.png"),
                },
                {
                    id: 8,
                    image: require("../assets/8.png"),
                },
                {
                    id: 9,
                    image: require("../assets/9.png"),
                },
                {
                    id: 10,
                    image: require("../assets/10.png"),
                },
                {
                    id: 11,
                    image: require("../assets/11.png"),
                },
                {
                    id: 12,
                    image: require("../assets/12.png"),
                },
                {
                    id: 13,
                    image: require("../assets/13.png"),
                },
                {
                    id: 14,
                    image: require("../assets/14.png"),
                },
                {
                    id: 15,
                    image: require("../assets/15.png"),
                },
                {
                    id: 16,
                    image: require("../assets/16.png"),
                },
                {
                    id: 17,
                    image: require("../assets/17.png"),
                },
                {
                    id: 18,
                    image: require("../assets/18.png"),
                },
                {
                    id: 19,
                    image: require("../assets/19.png"),
                },
                {
                    id: 20,
                    image: require("../assets/20.png"),
                },
                {
                    id: 21,
                    image: require("../assets/21.png"),
                },
                {
                    id: 22,
                    image: require("../assets/22.png"),
                },
                {
                    id: 23,
                    image: require("../assets/23.png"),
                },
                {
                    id: 24,
                    image: require("../assets/24.png"),
                },
            ],
        }
    }
})
</script>

<style scoped>
.guess-item {
    width: 12.5%;
}
</style>