<template>
    <img alt="" :src="c.image">
</template>

<script>
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
    setup() {
        
    },
    data() {
        return {
            c: this.guess,
        };
    },
    props: {
        guess: Object,
    },
    methods: {

    }
})
</script>

<style scoped>

</style>