<template>
  <characters class="characters"></characters>
  <controller class="controller"></controller>
</template>

<script>
import Characters from './components/Characters.vue'
import Controller from './components/Controller.vue'

export default {
  name: 'App',
  components: {
    Characters,
    Controller
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
  display: flex;
}

.characters {
  width: 70%;
  height: 100%;
  background-color: red;
}

.controller {
  width: 30%;
  height: 100%;
  background-color: blue;
}
</style>
